    label, input, textarea {
        display: block;
        margin-bottom: 10px;
    }
    input[type="submit"] {
        margin-top: 10px;
    }
    .center {
        color: black;
        text-align: center;
    }
    .images {
        position: absolute;
        border-radius: 30px;
        width: 200px;
        height: 200px;
    }
    .nombre_etiquetas {
        position: absolute;
        top: 500px;
        right: 910px;
        color: aliceblue;
        background-color: rgb(37, 23, 112);
        text-transform: inherit;
        text-decoration: none;
        font-weight: 700;
        border-radius: 10px;
        margin: 15px;
        padding: 16px;
    }
    #redireccionar_paginas {
        text-align: center;
        display: inline-block;
        color: aliceblue;
        background-color: rgb(37, 23, 112);
        text-transform: inherit;
        text-decoration: none;
        font-weight: 700;
        border-radius: 10px;
        margin: 15px;
        padding: 16px;
        position: absolute;
        top: 550px;
        right: 860px;
    }
    #imagenes_inicio {
        width: 200px;
        height: 200px;
        position: absolute;
        border-radius: 30px;
        top: 330px;
        left: 350px;
    }
    #personalizacion_mascota_individual {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-transform: inherit;
        position: absolute;
    }
    #informe{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-transform: inherit;
        position: absolute;
        height: 220px;
        width: 300px;
        margin-top: 310px;
        margin-left: 520px;
    }

    #Inicio{
        display: inline-block;
        color: rgb(85, 132, 173);
        background-color: rgb(37, 23, 112);
        text-transform: inherit;
        text-decoration: none;
        font-weight: 700;
        border-radius: 10px;
        margin: 15px;
        padding: 16px;
        position: absolute;
        position: absolute;
        top: 10px;
        right: 10px;
        text-align: center;
    }
    body {
        width: 100%;
        height: 100%;
        color: #fff;
        background: linear-gradient(45deg, red ,blue,green,black);
        background-size: 400% 400%;
        position: relative;
        animation: cambiar 10s ease infinite;
    }
    @keyframes cambiar {
        0%{background-position: 0 50%;}
        50%{background-position: 100% 50%;}
        100%{background-position: 0 50%;}
    }
    #pagina_anterior {
        display: inline-block;
        color: aliceblue;
        background-color: rgb(37, 23, 112);
        text-transform: inherit;
        text-decoration: none;
        font-weight: 700;
        border-radius: 10px;
        margin: 15px;
        padding: 16px;
        position: absolute;
        position: absolute;
        top: 10px;
        right: 10px;
    }
    #imagen_gato_perro_individual {
        border-radius: 50px;
        position: absolute;
        top: 50px;
        left: 100px;
    }